doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta name="viewport" content="width=device-width,initial-scale=1"
    title Garden Calendar

    == stylesheet_link_tag "main"
    == stylesheet_link_tag "vendor/jquery.qtip.min.css"

  body

    article.gardencal

    section.notes
      h4 Instructions/Help
      ul
        li Click a crop image to fade all others (toggle)
        li Click a crop label to hide all others (toggle)
        li Click Plant|Transplant|Harvest to toggle those phases (toggle)
        li Hover over/touch green phases to show exact phase dates

    ul.key
      li
        span.plant
        | Plant
      li
        span.transplant
        | Transplant
      li
        span.harvest
        | Harvest


  script#template type="text/x-handlebars-template"
    section.calendar
      h2
        small Crop Monthly Info For
        | {{location}}
      
      <ul>{{#monthlyNotes}}<li>
          <h3>{{month}}</h3>
          <article>{{notes}}</article>
      </li>{{/monthlyNotes}}</ul>
      
    <ul class="crops">{{#crops}}<li data-crop="{{name}}">
      <h3>
        <a href="#"><img src="assets/{{img}}" alt="{{name}} icon"></a>
        <label>{{name}}</label>
      </h3>
      <ul>
        <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
        <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
        <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
      </ul>
    </li>{{/crops}}</ul>

  == javascript_include_tag "vendor/jquery.min.js"
  == javascript_include_tag "vendor/mustache.js"
  == javascript_include_tag "vendor/jquery.qtip.min.js"
  == javascript_include_tag "main"
